<img src="../../../assets/decor/logo.svg" alt="" width="120px" height="120px">
<div class="app_name">Discuss</div>
<div class="quote">any topics you like</div>

<div class="buttons_wrap">

    <!--GoogleAuthButton-->
    <button class="google_button">Continue with Google</button>
    <!--/GoogleAuthButton-->

    <!--GreenButton-->
    <button class="green_button">Log In</button>
    <!--/GreenButton-->

    <!--BlueBorderButton-->
    <button class="blue_border_button">Sign Up</button>
    <!--/BlueBorderButton-->

</div>