<div class="header">
    <div class="action">Back</div>
    <div class="type">Log In</div>
</div>
<div class="content">
    <div class="field">
        <label>Email
            <input type="text" placeholder="Enter your email"></label>
    </div>
    <div class="field">
        <label>Password
            <input type="password" placeholder="Enter your password"></label>
    </div>
</div>
<button class="green_button">Log In</button>
<div class="additionalAction">Forgot Password?</div>